/* load font START*/
@font-face {
    font-family: opsan;
    src: url("resource/font/OpenSans-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("resource/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: monsterrat;
    src: url("resource/font/Montserrat-Regular.ttf");
}
/* load font END*/