#tab {
    animation-name: TabAnim;
    animation-duration: 1s;
    display: flex;
    flex-wrap: nowrap;
    border-spacing: 0px;
    margin-top: 0px;
    width: auto;
    height: 50px;
    background-color: #2c3e50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#lang-select {
    animation-name: FlagsAnim;
    display: block;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-fill-mode: backwards;
    padding-top: 8px;
    margin-left: auto;
    margin-right: auto;
}