.preload {
    transition: none !important;
}

@font-face {
    font-family: monsterrat;
    src: url("../resource/font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: opsan;
    src: url("../resource/font/OpenSans-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("../resource/font/Roboto-Regular.ttf");
}

html::-webkit-scrollbar {
    width: 0 !important
}
body {
    position: relative;
    margin: 0;
}
/* MAIN COL START */
#main-col {
    background-color: #dfe6e9;
    padding-left:300px;
}

#title-card {
    animation-name: TitCard;
    animation-duration: 1.5s;
    background: linear-gradient(to bottom right, #0984e3, #81ecec);
    height: 310px;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0;
    letter-spacing: 10
}

@keyframes TitCard{
    from {height: 0px;}
    to {height: 310px;}
}

#main-title {
    font-family: opsan, 'M PLUS Rounded 1c';
    animation-name: TitleAnim;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
    font-size: 90px;
}

/* This div is only for the Japanese page. The font on the japanese page moves the desc text down for some reason and it doesnt look right */

#main-titleJP {
    animation-name: TitleAnim;
    animation-duration: 3s;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
    font-size: 80px;
}

@keyframes TitleAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes TitleCard-anim {
    from {font-size: 1px;}
    to {font-size 30px;}
}

@keyframes PJList {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes DescAnim {
    from {opacity: 0;}
    to {opacity: 1;}
}

#projects-list {
    animation-name: PJList;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    overflow: hidden;
}

#lol {
    text-align: center;
}
 
#fs {
    transition: transform .3s;
    font-family: monsterrat;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 250px;
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

#fs:hover {
    transform: scale(1.1);
}

#fs-desc {
    font-family: opsan;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#website {
    height: 60px;
    width: 600px;
    transition: transform .3s;
    cursor: pointer;
    font-family: monsterrat;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

#website:hover {
    transform: scale(1.1);
}

#website-desc {
    font-family: opsan;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
}

#chasbot {
    height: 60px;
    width: 600px;
    transition: transform .3s;
    cursor: pointer;
    font-family: monsterrat;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

#chasbot:hover {
    transform: scale(1.1);
}

#chasbot-desc {
    font-family: opsan;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
}

#ccus {
    height: 60px;
    width: 600px;
    transition: transform .3s;
    cursor: pointer;
    font-family: monsterrat;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

#ccus:hover {
    transform: scale(1.1);
}

#ccus-desc {
    font-family: opsan;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
}

#homePG {
    height: 60px;
    width: 600px;
    transition: transform .3s;
    cursor: pointer;
    font-family: monsterrat;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

#homePG:hover {
    transform: scale(1.1);
}

#homePG-desc {
    font-family: opsan;
    font-size: 15px;
    padding-top: 10px;
    text-align: center;
}

@keyframes ProjTitleLineAnim {
    from {
        opacity: 0;
        width: 0px;
    }
    to {
        opacity: 1;
        width: 600px;
    }
    
}

#proj-title {
    opacity: 0;
    animation-name: ProjTitleAnim;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    text-align: center;
    padding-top: 90px;
    font-family: monsterrat , sans-serif;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 20px;
}

@keyframes ProjTitleAnim {
    from {opacity 0;}
    to {opacity: 1;}
}

#proj-line {
    opacity: 0;
    animation-name: ProjTitleLineAnim;
    animation-duration: 1s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
    text-align: center;
    height: 3px;
    width: 600px;;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #0984e3;
    margin-left: auto;
    margin-right: auto;
}

#proj-line-container {
    padding-top: 50px;
}

h1 {
    font-family: 'Robotoh', sans-serif;
    text-align: center;
    font-size: 90px;
}

p {
    position: static;
    animation-name: DescAnim;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    text-align: center;
    font-family: 'Montserrat', sans-serif, 'M PLUS Rounded 1c';
}

#mainDescJP {
    padding: 
}

@keyframes FlagsAnim {
    from { opacity: 0;}
    to {opacity: 1;}
}

@keyframes TabAnim {
    from {
        height: 0px;
    }
    to {
        height: 50px;
    }
}