

body {
    margin: 0;
    height: 90px;
}

#wrapper {
    position: relative;
    height 90px;
}

#greet {
    object-fit: cover;
    background-image: url(../img/bg.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    background-color: #2f3640;
    background-blend-mode: multiply;
    color: #ecf0f1;
    height: 700px;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
    top: 0px; left 0px;
}

#sect1 {
    background-color: #2f3640;
    height: 1000px;
    position: relative;

}

#desc {
    font-size: 40px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: #ecf0f1;
    padding-top: 100px;
    padding-left: 10%;
}

.example-proj {
    padding-left: 15%;
    font-size: 30px;
    font-family: 'Open Sans';
    color: #ecf0f1;
    padding-top: 20px;
}

.li {
    margin-bottom: 20px;
    width: 400px;
    float: left;
    cursor: pointer;
}

#logo {
    float: left;
    transform-origin: center;
    height: 40px;
}

#abt {
    padding-left: 30px;
    font-size: 20px;
}



#down {
    color: #ecf0f1;
    transition: 0.3s;
}

#down:hover {
    color: #7f8c8d;
}



#down:visited { text-decoration: none; color:red; }
#down:focus { text-decoration: none; color:yellow; }
#down:active { text-decoration: none; color:black }
