@font-face {
    font-family: opsan;
    src: url("resource/font/OpenSans-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("resource/font/Roboto-Regular.ttf");
}

@font-face {
    font-family: monsterrat;
    src: url("resource/font/Montserrat-Regular.ttf");
}

html {
    background-color: #dfe6e9;
}

body {
    margin: 0;
}

#title-card {
    animation-duration: 2s;
    background: linear-gradient(to bottom right, #0984e3, #81ecec);
    height: auto;
    padding-top: 0px;
    padding-bottom: 10px;
    margin: 0;
    letter-spacing: 10
}

#main-title {
    animation-duration: 3s;
    font-size: 90px;
}

@keyframes TitleCard-anim {
    from {font-size: 1px;}
    to {font-size 30px;}
}

#projects-list {
    overflow: hidden;
}

#lol {
    text-align: center;
}
 
#fs {
    transition: transform .3s;
    font-family: monsterrat;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 250px;
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
}

#fs:hover {
    transform: scale(1.1);
}

#fs-desc {
    font-family: opsan;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#website {
    transition: transform .3s;
    cursor: pointer;
    font-family: monsterrat;
    font-size: 40px;
    padding-top: 20px;
    text-align: center;
}

#website:hover {
    transform: scale(1.1);
}

#website-desc {
    font-family: opsan;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}

#proj-title {
    text-align: center;
    padding-top: 90px;
    font-family: monsterrat , sans-serif;
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 20px;
}

#proj-line {
    height: 3px;
    width: 600px;;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #0984e3;
    margin-left: auto;
    margin-right: auto;
}

#proj-line-container {
    padding-top: 50px;
}

h1 {
    font-family: 'Robotoh', sans-serif;
    text-align: center;
    font-size: 90px;
}

p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#tab {
    display: flex;
    border-spacing: 0px;
    margin-top: 0px;
    width: auto;
    height: 50px;
    background-color: #2c3e50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#lang-select {
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    padding-left: 30px;
}

#flagUS {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagUS:hover {
    transform: scale(1.2);
}

#flagJP {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagJP:hover {
    transform: scale(1.2);
}

#flagIT {
    cursor: pointer;
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagIT:hover {
    transform: scale(1.2);
}

#flagICE {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagICE:hover {
    transform: scale(1.2);
}

#flagPORT {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagPORT:hover {
    transform: scale(1.2);
}

#flagSP {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagSP:hover {
    transform: scale(1.2);
}

#flagCHIN {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagchin:hover {
    transform: scale(1.2);
}



#flagDUT {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagUS:hover {
    transform: scale(1.2);
}

#flagRUS {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagRUS:hover {
    transform: scale(1.2);
}

#flagPOL {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagPOL:hover {
    transform: scale(1.2);
}

#flagUK {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagUK:hover {
    transform: scale(1.2);
}

#flagDEN {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagDEN:hover {
    transform: scale(1.2);
}

#flagGERM {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagGERM:hover {
    transform: scale(1.2);
}

#flagFR {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagFR:hover {
    transform: scale(1.2);
}

#flagSWED {
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagSWED:hover {
    transform: scale(1.2);
}

#flagVIET {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagVIET:hover {
    transform: scale(1.2);
}

#flagKOR {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagKOR:hover {
    transform: scale(1.2);
}

#flagHEB {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagHEB:hover {
    transform: scale(1.2);
}

#flagNOR {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagNOR:hover {
    transform: scale(1.2);
}

#flagDUT {
    cursor: pointer;
    transform-origin: center;
    transition:  transform .3s;
    margin-left: 10px;
    border: 1px, solid transparent;
    border-radius: 5px;
    height: 32px;
    width: auto;
}

#flagDUT:hover {
    transform: scale(1.2);
}

#AbtMe {
    text-align: center;
    font-size: 12px;
}

#sidebar {
    float: left;
    background-color: #00cec9;
    height: 1000px;
    width: 300px;
    
}

#SBTop {
    background-color: black;
    height: 280px;
}

