html {
    background-color: #dfe6e9;
}

body {
    margin: 0;
}

#title-card {

    animation-duration: 2s;
    background: linear-gradient(to bottom right, #0984e3, #81ecec);
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    letter-spacing: 10
}

#main-title {
    animation-duration: 3s;
    transform: font-size 2s ease;
    font-size: 90px;
}

@keyframes TitleCard-anim {
    from {height: 0;}
    to {height :;}
}

#projects-list {
    overflow: hidden;
}

#lol {
    text-align: center;
}

#fs {
    float: left;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 40px;
}

#website {
    float: right;
    text-align: center;
    padding-bottom: 20px;
    padding-right: 0px;
    padding-left: 40px;
    padding-right: 200px;
}

#proj-title {
    padding-top: 90px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 30px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 90px;
}

p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
