
@font-face {
    font-family 'MS-Sans-Serif'
    src: url('micross.ttf') format('TrueType');
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #008484;
    background-image: image(sabrina-png.png);
    background-size: 390px;
    display:inline-block;
}




.taskbar {
    position: fixed;
    background-color: #b5b5b5;
    bottom: 0;
    height: 28px;
    width: 100%;
    z-index: 4;
    border-top-color: rgb(223,223,223);
    border-top-style: solid;
    border-top-width: 2px;
    overflow: hidden;

}

#start-btn {
    padding-top: 3px;
    padding-left: 3px;
    height: 24px;
    width: 55px;
}

#start-btn:active {
    padding-top: 4px;
    padding-left: 4px;
    height: 23px;
    width: 54px;
}

#TIME {
    font-family: sans-serif;
    float: right;
    padding-right: 9px;
    padding-top: 8px;
    font-size: 10px;
    font-weight: 200;
    overflow: hidden;
    
}

#folder-proj {
    width: 50px;
    height: auto;
}
